@page "/"

<PageTitle>Home Page - To Do App</PageTitle>

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <h1 class="display-4">To Do Application</h1>
    <p>Application made as part of the Final thesis at the Faculty of Electrical Engineering, University of East Sarajevo.</p>
</div>
