@page "/todo"
@page "/todo/{id:int}"
@inject ITodoItemService TodoItemService

@if (Id == null)
{
    <PageTitle>Add the new Task</PageTitle>
    <h3>Add the new Task</h3>
}
else
{
    <PageTitle>Edit @todo.Name</PageTitle>
    <h3>Edit @todo.Name</h3>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    TodoItem todo = new TodoItem { };

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {
            // Add new Task
        }
        else
        {
            todo = await TodoItemService.GetSingleTodoItem((int)Id);
        }
    }
}
