@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="text-secondary float-end">Created in ASP.NET 6 Web API with Blazor</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
